body {
    width: 600px;
    margin: 0 auto;
    font: 16px Arial;
}
h1,h2,h3,h4,h5,h6,p {
    margin-bottom: 10px;
    line-height: 1.4em;
}
h1 {
    font-size: 1.5em;
    font-weight: 700;
}
h2 {
    font-size: 1.3em;
}
h3 {
    font-size: 1em;
}
img {
    max-width: 100%;
}